# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Ignore any files that contain sensitive information
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
.terraform.rc

# Ignore local Terraform directory
.terraform/

# Ignore backup files created by the Terraform CLI
*.backup

# Ignore lock files
.terraform.lock.hcl

# Ignore any output log files
*.log

# Ignore plan files
*.tfplan
